/*GENERAL*/

body {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #99aea2;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
}

.container {
  padding: 0 2.3%;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  min-width: 880.2px;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gs-btn {
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  background: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.gs-btn:hover {
  background: none;
  background-color: #f07962;
  box-shadow: 0px 2px 2px 0.00px #ac1000;
}

.gs-btn:active {
  box-shadow: inset 0px 2px 2px 0px #942718;
}

a {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.gs-input {
  padding: 15px;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #999999;
  border-radius: 5px;
  border: 2px solid #f3f3f2;
  outline: 0;
}

/*HEADER*/

/*LOGO*/

.gs-logo {
  float: left;
  width: 154px;
  height: 64px;
  margin-right: 15px;
  padding: 10px 0;
}

.gs-logo img {
  width: 154px;
  height: 64px;
}

/*MAINMENU*/

.gs-mainmenu {
  float: left;
}

.gs-mainmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 75px;
}

/*MAINMENU ITEM*/

.gs-mainmenu-item {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  margin-right: 11px;
  line-height: 18px;
}

.gs-mainmenu-item a {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.gs-mainmenu-item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  opacity: 0.4;
}

/*MAINMENU ITEM HOVER*/

.gs-mainmenu-item:hover {
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.gs-mainmenu-item:hover a {
  color: #333333;
}

.gs-mainmenu-item:hover a:after {
  opacity: 0;
}

.gs-mainmenu-item:hover .gs-submenu {
  display: block;
}

.gs-mainmenu-item:active {
  box-shadow: inset 0px 0px 2px 1px #696969;
  background-color: #ededed;
}

/*MAINMENU ITEM ACTIVE*/

.gs-mainmenu-item.active {
  background-color: #c27a64;
  border-radius: 50px;
}

.gs-mainmenu-item.active a:after {
  opacity: 0;
}

.gs-mainmenu-item.active:hover a {
  color: #ffffff;
}

/*SUBMENU*/

.gs-submenu {
  position: absolute;
  left: -7px;
  top: 37px;
  display: none;
  width: 143px;
  height: 171px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0.00px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.gs-submenu li {
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.gs-submenu li:hover {
  background-color: #fbded8;
}

.gs-submenu li:active {
  background-color: #f6b5a5;
}

.gs-submenu li.active {
  background-color: #d07058;
}

.gs-submenu li a {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}

.gs-submenu li:first-child {
  position: relative;
  padding-top: 10px;
  padding-bottom: 17px;
}

.gs-submenu li:first-child:after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 0;
  width: 128px;
  border: 1px solid #f0efec;
}

.gs-submenu li:first-child a {
  font-weight: 700;
}

/*USERBLOCK*/

.gs-userblock {
  position: relative;
  float: right;
  padding: 20px 0;
}

.gs-top-btn {
  position: relative;
  display: inline-block;
  font-size: 0px;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.gs-top-btn:before {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
}

.gs-top-btn:not(.gs-small-cart):hover {
  background-color: #f8f7f4;
  color: #323232;
}

/*SEARCH*/

.gs-search { 
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.gs-search:before { 
  left: 8px;
  top: 8px;
  width: 17px;
  height: 17px;
  background-position: 0px -99px;
}

.gs-search:hover:before {
  background-position: -48px -88px;
}

.gs-search-form {
  position: absolute;
  right: 240px;
  bottom: -80px;
  display: none;
  background-color: #f8f7f4;
  padding: 20px 15px;
  box-shadow: 0px 20px 20px 0.00px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 100;
}

.gs-search-form input[type="text"] {
  width: 311px;
}

.gs-search:hover .gs-search-form {
  display: block;
}

/*LOGIN*/

.gs-login {
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 16px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.gs-login:before {
  left: 16px;
  bottom: 8px;
  width: 21px;
  height: 19px;
  background-position: -73px -87px;
}

.gs-login:hover:before {
  background-position: -73px -68px;
}

.gs-login-popup {
  position: absolute;
  top: 60px;
  right: 130px;
  display: none;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 200;
}

.gs-login-form input {
  margin-bottom: 20px;
  width: 241px;
}

.gs-login-popup button {
  float: left;
  margin-right: 20px;
}

.gs-login-popup a {
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 8px;
}

/*CART*/

.gs-small-cart {
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 34px;
  font-size: 14px;
  font-weight: 500;
}

.gs-small-cart:before {
  left: 16px;
  bottom: 7px;
  width: 21px;
  height: 20px;
  background-position: -31px -68px;
}

/*HEADER CONTACTS*/

.gs-header-contacts {
  position: absolute;
  right: 0;
  top: 75px;
  width: 180px;
}

.gs-header-hours {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.gs-header-phone {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
  text-align: right;
  color: #ffffff;
}

/*END HEADER*/


/*MAIN*/


/*SLIDER*/

.gs-slider {
  text-align: center;
}

.gs-slider-item img {
  display: block;
  margin: 0 auto;
  position: relative;
}

.gs-slider-item h2 {
  position: absolute;
  left: 25%;
  bottom: 167px;
  width: 680px;
}

.gs-slider-item a {
  padding: 17px 42px;
  position: absolute;
  left: 40%;
  bottom: 120px;
  font-size: 30.77px;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.gs-slider-buttons {
  position: absolute;
  left: auto;
  bottom: 130px;
}

.gs-slider-buttons label {
  font-size: 0;
}

.gs-slider-buttons input[type="radio"] {
  cursor: pointer;
}

/*BANNERS*/

.gs-banner {
  margin: 0 -1.1%;
  margin-bottom: 40px;
}

.gs-banner-item {
  float: left;
  width: 47.8%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  margin: 0 1.1%;
  box-sizing: border-box;
  border-radius: 10px;
}

.gs-banner-item h3 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.gs-banner-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 47px;
}

.gs-banner-cta {
  text-align: right;
}

.gs-banner-item:first-child {
  background: #ae3d5c url("../img/tmp/banner1.jpg") no-repeat;
  background-size: cover;
}

.gs-banner-item:last-child {
  background: #3c2314 url("../img/tmp/banner2.jpg") no-repeat;
  background-size: cover;
}

/*PRODUCTS*/

.gs-products {
  margin: 0 -1.1%;
  font-size: 0;
  vertical-align: top;
}

.gs-products-item {
  display: inline-block;
  vertical-align: top;
  width: 22.8%;
  margin: 0 1.1%;
  margin-bottom: 42px;
}

.gs-products-item figure {
  position: relative;
  margin: 0;
}

.gs-products-item figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: #ffffff url("../img/hit.png");
  border-radius: 50%;
  z-index: 2;
}

.gs-products-item img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.gs-products-item-price {
  position: absolute;
  left: 0;
  bottom: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.gs-products-item-price span:first-child {
  font-size: 45px;
}

.gs-products-item-price span:first-child:after {
  content: "₽";
  margin-left: 5px;
}

.gs-products-item-price span:last-child {
  font-size: 30px;
}

.gs-products-item-title {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.gs-products-item-title a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  opacity: 0.4;
}

/*BREADCRUMBS*/

.gs-breadcrumbs {
  margin-top: 16px;
}

.gs-breadcrumbs ul {
  margin: 0;
  padding: 0;
}

.gs-breadcrumbs-item {
  display: inline-block;
  margin-right: 22px;
  position: relative;
}

.gs-breadcrumbs-item a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
}

.gs-breadcrumbs-item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  opacity: 0.4;
}

.gs-breadcrumbs-item:after {
  content: "»";
  position: absolute;
  right: -16px;
  bottom: 0px;
  color: #ffffff;
}

.gs-breadcrumbs-item:last-child:after {
  content: "";
}

.gs-breadcrumbs-item:last-child a:after {
  border-bottom: 0;
}

/*INFO SEO*/

.gs-info {
  padding: 27px 21px;
  margin-bottom: 40px;
  font-size: 0;
  background: #f0e5d2 url("../img/info-bg.jpg");
  border-radius: 15px;
}

.gs-info h3 {
  font-size: 24px;
  font-weight: 500;
}

.gs-info-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  padding-left: 56px;
  width: 48.9%;
  font-size: 0;
  box-sizing: border-box;
}

.gs-info-item:nth-of-type(odd) {
  margin-right: 2.2%;
}

.gs-info-item img {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 49px;
}

.gs-info-item p {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 16px;
}

/*MARKETING*/

.gs-marketing {
  margin: 0 -1.1%;
  margin-bottom: 40px;
}

.gs-blog-lastitem {
  float: left;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 256px;
  padding-bottom: 81px;
  margin: 0 1.1%;
  width: 47.8%;
  background: #ffffff url("../img/tmp/blog-item.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-sizing: border-box;
}

.gs-blog-lastitem span {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.gs-blog-lastitem a {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.gs-subscribe {
  float: left;
  width: 47.8%;
  padding: 5px 4px;
  margin: 0 1.1%;
  background: -webkit-repeating-linear-gradient(
  315deg,
  #f8f7f4,
  #f8f7f4 10px,
  #94ceff 10px,
  #94ceff 20px,
  #f8f7f4 20px,
  #f8f7f4 30px,
  #fe9e90 30px,
  #fe9e90 40px
  );
  background: repeating-linear-gradient(
  135deg,
  #f8f7f4,
  #f8f7f4 10px,
  #94ceff 10px,
  #94ceff 20px,
  #f8f7f4 20px,
  #f8f7f4 30px,
  #fe9e90 30px,
  #fe9e90 40px
  );
  box-sizing: border-box;
  border-radius: 15px;
}

.gs-subscribe-content {
  background-color: #f8f7f4;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 35px;
  border-radius: 15px;
}

.gs-subscribe-content p {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  margin-bottom: 26px;
}

.gs-subscribe-content .gs-input {
  padding-right: 185px;
}

.gs-subscribe-content .gs-btn {
  float: right;
}

/*CONTACTS*/

.gs-contacts {
  position: relative;
  width: 100%;
  height: 430px;
  background-color: cornsilk;
}

.gs-contacts-content {
  position: relative;
  height: 430px;
}

.gs-contacts-info {
  position: absolute;
  right: 0;
  top: 14.7%;
  padding: 30px 25px;
  width: 302px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  box-sizing: border-box;
}

.gs-contacts-info p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;  
}

.gs-contacts-info .gs-contacts-address,
.gs-contacts-info .gs-contacts-phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.gs-contacts-info .gs-contacts-address {
  margin-bottom: 20px;
}

.gs-contacts-info p:last-of-type {
  margin-bottom: 26px;
}

/*CATALOG*/

.gs-catalog-title {
  margin: 0;
  margin-bottom: 30px;
}

.gs-filter {
  width: 860px;
  text-align: left;
  margin-bottom: 40px;
}

.gs-filter-form-sort label,
.gs-filter-form-price label,
.gs-filter-form-fatness label:first-child,
.gs-filter-form-filler label:first-child {
  display: block;
  padding-left: 16px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.gs-filter-form-sort {
  float: left;
  width: 22.2%;
  margin-right: 1.2%;
}

.gs-filter-form-price {
  float: left;
  width: 25.5%;
  margin-right: 1.1%;
}

.gs-filter-form-fatness {
  float: right;
  width: 50%;
}

.gs-filter-form-filler {
  float: left;
  width: 78%;
}

.gs-filter-form-btn {
  float: right;
  width: 22%;
  text-align: right;
}

.gs-filter-form-btn button {
  padding: 7px 30px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
  cursor: pointer;
}

.gs-paging {
  margin-bottom: 50px;
}

.gs-paging ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.gs-paging li {
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
}

.gs-paging li a {
  font-size: 16px;
  font-weight: 500;
}

.gs-paging li.active a {
  padding: 3px 9px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

.gs-paging li:first-child a,
.gs-paging li:last-child a {
  font-size: 24px;
}


/*FOOTER*/

/*SOCIALS*/

.gs-footer-socials {
  float: left;
  width: 23.35%;
  margin-right: 2.2%;
  padding: 36px 0;
}

.gs-socials {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 31px;
  height: 31px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../img/sprite.png") no-repeat;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  opacity: 0.8;
}

.gs-socials.tw {
  background-position: -62px -37px;
}

.gs-socials.fb {
  background-position: 0px -37px;
}

.gs-socials.ins {
  background-position: -31px -37px;
}

.gs-socials.vk {
  background-position: 0px -68px;
}

.gs-socials:hover {
  opacity: 1;
}

.gs-socials:active {
  box-shadow: inset 0px 2px 2px 0px #888888;
}

/*FOOTERMENU*/

.gs-footermenu {
  float: left;
  width: 46.7%;
  margin-right: 2.2%;
  padding: 36px 0;
}

.gs-footermenu ul {
  margin: 0;
  font-size: 0;
}

.gs-footermenu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  width: 175px;
}

.gs-footermenu li a {
  position: relative;
  font-weight: 400;
}

.gs-footermenu li:first-child a {
  font-weight: 700;
}

.gs-footermenu li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gs-footermenu li:first-child:after {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  width: 15px;
  height: 13px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -93px -37px;
}

/*COPYRIGHT*/

.gs-author {
  float: right;
  padding-top: 20px;
  width: 23.35%;
}

.gs-author img {
  display: block;
  width: 108px;
  height: 38px;
  margin-bottom: 8px;
}

.gs-author p {
  margin: 0;
  font-size: 12px;
  color: #fefefe;
}

.gs-author p>a {
  position: relative;
  font-weight: 400;
}

.gs-author p>a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}